.test__item {
  width: 260px;
  height: 130px;
  background-color: rgb(229, 243, 245);
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.test__item:hover {
  transform: scale(1.2);
  transition: 1s;
  position: relative;

  .btn-center {

  }
}

.All-test {

  .All-test__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.btn-center {
  margin-top: 33px;
}

.border-none {
  border-radius: 0px;
}