.options {
  height: 90%;
  position: fixed;
  z-index: 100;
  right: 0%;
  padding-top: 49px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .options__content {
    border-bottom: 1px solid white;
    min-height: 80%;

    & .options__content__list {
      margin-top: 20px;
      box-sizing: border-box;
      max-width: 380px;
      list-style: none;
    }

  }
  
  & .group-type__options {
    margin-top: 15%;
    text-align: center;
    display: flex;
    flex-direction: column;

    & .group-type__option-content {
      display: flex;

      & .group-type__option-content-inner {
        margin-left: 20px;
        position: relative;
        flex-direction: column;
        width: 16px;
      }
    }
  }
  
  & .btn-apply {
    width: 100%;
  }

  & .filed-checkbox {
    opacity: 0;
    z-index: 2;
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: -8px;
  }
  
  & .input-checkbox {
    position: absolute;
    border: 1px solid rgb(0, 0, 0);
    width: 16px;
    height: 16px;
    border-radius: 5px;
  }
  
  & .input-checkbox .active {
    position: absolute;
    border: 1px solid red;
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  & .input-checkbox::before {
    content: "";
    width: 10px;
    height: 10px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    margin-left: -5px;
    margin-top: 2px
  }
  
  & .active {
    background: #00e490;
  } 
}